<div class="container home-container">
	<!--div class="page-header">
		<h2>This is the home page</h2>
	</div-->

	<!--div class="well">
		<p>This is some text on the home page. Nothing special here</p>
	</div-->

	<div class="row">
		<nvd3 options="pieOptions" data="pieData"></nvd3>
		<nvd3 options="options" data="data"></nvd3>
		<!--div ng-repeat="item in $ctrl.items" class="col-md-4 item-container">
			<img src="{{item.img}}" class="thumbnail">
			<span class="text-center">
				<h3>{{ item.title }}</h3>
			</span>
		</div-->
	</div>
</div>	